<div class="chat-window">
  @for (msg of messages(); track msg) {
    <div [ngClass]="{ 'received-message': msg.type === ChatMessageType.Received, 'send-message': msg.type === ChatMessageType.Send }">
      {{msg.content}}
    </div>
  }
</div>
<input class="chat-input" #messageInput type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">
<br>
<select [(ngModel)]="activeGroup">
  @for (mode of modes(); track mode) {
    <option [value]="mode">{{mode}}</option>
  })
</select>
<br>
<input type="text" #groupNameInput [(ngModel)]="groupName" placeholder="Group name" (keyup.enter)="joinGroup()">
<br>
<input type="text" #removeGroupNameInput [(ngModel)]="removeGroupName" placeholder="Group name to leave" (keyup.enter)="removeFromGroup()">
